.cartao {
  border-radius: 4px;
  border: 1px solid darkgray;
  width: 100%;
  min-height: 20px;
  padding: 1rem;
}

.light {
  background-color: white;
  color: #333;
}
.dark {
  background-color: #333;
  color: white;
}
